.container {
  text-align: center;
  margin: 0 auto;
  width: 400px
}

.section__add {
  width: 100%;
}

.section__row {
  width: 100%;
  /* border: 1px solid; */
  padding-top: 4px;
  text-align: left;
}

.section__row.done .Checkbox-Label {
  opacity: 0.4;
}

.row__delete {
  cursor: pointer;
  float: right;
}

.row__delete:hover {
  opacity: 0.4;
}

.section__taskinfo {
  opacity: 0.8;
}
