name: Build and Deploy
on: push
jobs:
  build-and-deploy:
    env:
      GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.1
        with:
          persist-credentials: false
      - name: Install and Build
        run: |
          yarn
          yarn build-storybook
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@3.6.2
        with:
          BRANCH: master
          FOLDER: storybook-static
          CLEAN: true
          TARGET_FOLDER: docs
